# Installing Necessary Packages

In [ ]:
pip install beautifulsoup4
pip install lxml
pip install html5lib
pip install requests

# Importing Necessary Libraries

In [3]:
import requests
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd

# Reading URL and Dumping Page Data into a Variable

In [4]:
my_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
uClient = uReq(my_url)
html = uClient.read()
uClient.close()

In [5]:
page_soup = soup(html, 'html.parser')

# Scrubbing Required Data from the page in rows and columns

In [9]:
table = page_soup.find('table',{'class':'wikitable sortable'}).tbody
rows = table.findAll('tr')
columns = [v.text.replace('\n',"") for v in rows[0].find_all('th')]

In [10]:
df = pd.DataFrame(columns = columns)

In [11]:
for i in range(1, len(rows)):
    tds = rows[i].findAll('td')
    if tds[1].text == 'Not assigned':
        pass
    else:
        values = (tds[0].text, tds[1].text, tds[2].text.replace('\n',""))
        df = df.append(pd.Series(values, index = columns), ignore_index = True)

In [12]:
df['Neighbourhood'].replace('Not assigned',"Queen's Park", inplace = True)

In [13]:
df2 = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [14]:
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [15]:
df2.shape

(103, 3)

In [16]:
geo = pd.read_csv('Geospatial_Coordinates.csv')

In [17]:
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [21]:
lat_long = geo[['Latitude', 'Longitude']]

In [28]:
final_df = pd.concat([df2, lat_long], axis = 1)

In [30]:
final_df.head(20)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975